* {
    margin: 0px;
}
body, html {
    background-image: url(https://images.unsplash.com/photo-1526572728358-228f6b8ca29b?q=80&w=1223&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Segoe UI", "Roboto", sans-serif;
}
header {
    display: flex;
    justify-content: end;
}
main {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    align-items: center;
    justify-content: center;
}
main h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 200;
    transition: 0.3s;
    cursor: default;
    text-shadow: 0 0 5px white;
}
main h1:hover {
    color: #dddddd;
    text-shadow: 0 0 5px #000000;
    transition: 0.3s;
}
#imtext {
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    border: 0px;
    width: 70vw;
    padding: 10px;
    border-radius: 7px;
    resize: none;   
    transition: 0.3s;
}
#imtext:hover {
    transform: scale(1.025);
    transition: 0.3s;
}
#imtext:active {
    transform: scale(1.0125);
    transition: 0.3s;
}
#imtext::placeholder {
    color:#2b2b2b;
}
#buscadores {
    gap: 20px;
    display: flex;
}
button {
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #0e0e0e;
    align-items: center;
    transition: 0.3s;
}
button:hover {
    transform: scale(1) translateY(-5px);
    filter: brightness(1.2);
    transition: 0.3s;
}
button:active {
    transform: scale(0.9) translate(-3px);
    filter: brightness(0.6);
    transition: 0.045s;
}
#buscadorPanel {
    outline: 4px double #7e7e7e;
    padding: 20px;
    border-radius: 12px;
    background-color: #e1e1e144;
    color: #0e0e0e;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px) saturate(20%);
    box-shadow: 0 8px 32px #0000004d;
    /*border: 1px solid #ffffff1a;*/
    transition: 0.2s;
}
#buscadorPanel:active {
    transform: translateY(-5px);
    backdrop-filter: blur(5px);
    transition: 0.2s;
}
img {
    width: 60px;
    height: auto;
}
.imglow {
    width: 30px;
}
.legal-notice {
    font-size: 0.7rem;
    opacity: 0.5;
    text-align: center;
    margin-top: 30px;
    padding: 2px;
    color: #fff;
}
@media (max-width: 768px) {
    #imtext {
        width: 60vw;
    }
    .legal-notice {
        padding: 20px;
    }
}